* {
  /* CSS custom properties (use: var(--custom-property);) */
  --primary-color: #5b81b2;
  --light-theme-background: #eee;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--light-theme-background);
}

body header {
  padding: 16px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.7em;
  line-height: 1.7em;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
              0 1px 10px 0 rgba(0, 0, 0, 0.12),
              0 2px 4px -1px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

body main {
  overflow-y: auto;
}

body .yt-container {
  display: flex;
  justify-content: center;
}

body .details {
  flex: 1;
  flex-direction: column;
  display: flex;
}

body .details .info {
  display: flex;
  width: 978px; /*video width*/
  margin: 16px;
  align-self: center;
  background: #fff;
}

body .details .info .view-count {
  flex: 1;
  font-size: 1.3em;
  margin: 1.2em 1em;
  font-weight: bold;
}

body .details .image-gallery {
  flex: 1;
  display: flex;
  overflow-x: auto;
}

body .details .image-gallery img {
  height: 100%;
  max-height: 250px;
  margin: 0 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

button {
  background-color: var(--primary-color);
  text-transform: uppercase;
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 1.05em;
  padding: 1em 0.7em;
  margin: 1em 1em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#ytplayer{
	height: 550px;
	width: 978px;
}

@media only screen and (max-width: 1100px) {
	/* mobile */
	#ytplayer{
		width: 100vw;
		padding: 0;
	}

	body header{
		line-height: 2.2em;
		font-size: 2.2em;
		text-align: center;
	}

	body .details .info {
	  display: flex;
	  width: 100%;
	  margin: 0;
	  font-size: 1.8em;
	}

	body .details .info .view-count{
		margin: 1.4em 1em;
	}

	button{
		font-size: 1em;
	}

	body .details .image-gallery {
	  margin: 32px 0;
	  padding: 0 16px;
	}

	body .details .image-gallery img {
	  max-height: 400px;
	  margin: 0 16px;
	}
}
