* {
  /* CSS custom properties (use: var(--custom-property);) */
  --primary-color: #5b81b2;
  --light-theme-background: #eee;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

body header {
  width: 100%;
  padding: 0 16px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 20px;
  height: 64px;
  line-height: 64px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
              0 1px 10px 0 rgba(0, 0, 0, 0.12),
              0 2px 4px -1px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

body main {
  flex: 1;
  overflow-y: auto;
}

body .yt-container {
  display: flex;
  justify-content: center;
  background: var(--light-theme-background);
}

body .details {
  flex: 1;
  flex-direction: column;
  display: flex;
}

body .details .info {
  display: flex;
  margin: 0 64px;
}

body .details .info .view-count {
  flex: 1;
  font-size: 18px;
  margin: 16px;
  font-weight: bold;
}

body .details .image-gallery {
  flex: 1;
  display: flex;
  overflow-x: auto;
}

body .details .image-gallery img {
  height: 100%;
  max-height: 250px;
  margin: 0 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

button {
  background-color: var(--primary-color);
  text-transform: uppercase;
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  padding: 8px;
  margin: 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#ytplayer{
	height: 550px;
	width: 978px;
}

@media only screen and (max-width: 1000px) {
	/* mobile */
	#ytplayer{
		width: 100%;
		padding: 0;
	}
  body header {
    font-size: 18px;
    height: 56px;
  }
}

@media only screen and (max-width: 600px) {
	/* mobile */
  body header {
    font-size: 14px;
  }
}
